/* Ensure full height for body and html */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b89ec7; /* Muted purple */
  font-family: Calibri, sans-serif; /* Set font to Calibri */
  /* overflow: hidden; */
}
/* Center the image and give it enough space */
img {
  width: 400px;
  height: auto;
  margin-top: 100px; /* Add margin to ensure the image is not too close to the top */
  margin-bottom: 0px;
  object-fit: contain;
}

/* Ensure no overflow issues */
div {
  overflow: visible; /* Allow content to overflow if necessary */
  text-align: center;
  color: white;
  margin-top: 1px; 
}


/* Style for the title section */


/* Optional: Style the video container */
video {
  border: 5px solid white; /* Optional: Border around video */
  border-radius: 10px; /* Optional: Rounded corners */
}
